<launch>
    <node type="person_tracker" name="person_tracker" pkg="person_tracking" output="screen">
        <param name="lidar_topic" value="/scan"/>
        <param name="tracking_topic" value="/start_tracking"/>
        <param name="cmd_vel_topic" value="/cmd_vel"/>
        <param name="keep_points_upto" value="10.0"/>
        <param name="distance_to_maintain" value="1.0"/>
        <param name="linear_threshold" value="0.1"/>
        <param name="angular_threshold" value="0.1"/>
        <param name="time_to_x" value="1.0"/>
        <param name="time_to_angle" value="1.0"/>
        <param name="max_linear_speed" value="0.5"/>
        <param name="min_linear_speed" value="0.1"/>
        <param name="max_angular_speed" value="1.0"/>
        <param name="min_angular_speed" value="0.0"/>
        <param name="clip_cloud" value="true"/>
        <param name="clip_angle_min" value="-1.31"/>
        <param name="clip_angle_max" value="1.31"/>
    </node>
</launch>
