<launch>
    <node type="person_tracker" name="person_tracker" pkg="person_tracking" output="screen">
        <param name="lidar_topic" value="/scan"/>
        <param name="tracking_topic" value="/start_tracking"/>
        <param name="keep_points_upto" value="10.0"/>
        <param name="distance_to_maintain" value="1.0"/>
        <param name="x_threshold" value="0.1"/>
        <param name="y_threshold" value="0.1"/>
        <param name="x_scale" value="1.0"/>
        <param name="y_scale" value="2.5"/>
        <param name="max_linear_speed" value="0.5"/>
        <param name="min_linear_speed" value="0.1"/>
        <param name="max_angular_speed" value="1.0"/>
        <param name="min_angular_speed" value="0.0"/>
    </node>
</launch>
